= render 'shared/header'
.main
  .main-title
    %h2 投稿一覧
  .main-area
    - @contents.each do |content|
      .route-data-box
        .route-data-box-upper
          .route-name
            = content.title
          .route-place
            = content.prefecture.name
          = link_to content_path(content), class: "content-link" do
            .route-image{style: "background-image: url(#{content.route_image})"}
          .route-distance
            = "走行距離#{content.distance}km"
        .route-data-box-lower
          .likes-icon
            %i.far.fa-heart
          .bookmark-icon
            %i.far.fa-bookmark
          .comments-icon
            %i.far.fa-comment
  .slick-area
    - @contents.each do |content|
      .image-a
        .landscape-image{style: "background-image: url(#{content.landscape_image})"}
  .random-image-area
    - @random.each do |content|
      = link_to content_path(content), class: "content-link2" do
        .landscape-image{style: "background-image: url(#{content.landscape_image})"}
  .map-area
    #map