.title
  ルート詳細ページ
.content-title
  = "ルート名：#{@content.title}"
.content-prefecture
  = "場所：#{@content.prefecture.name}"
.content-distance
  = "走行距離：#{@content.distance} km"
.content-max_elevation
  = "最大標高：#{@content.max_elevation} m"
.content-total_elevation
  = "獲得標高：#{@content.total_elevation} m"
.content-image{style: "background-image: url(#{@content.image})"}
.content-spot
  休憩スポット
.content-spot-image